<!-- <p>admin-login works!</p>

<form #adminForm="ngForm" (ngSubmit)="validateAdmin(adminForm)">  
    
        <table>
            <tr>
                 <td><input type="hidden" name="title" required [(ngModel)]="title" readonly></td>
             </tr>

            <tr>
               <td>Username : </td> <td><input type="text" placeholder="Enter Username" name="userName" required ngModel></td>
            </tr>
          
        <br> 

        <tr>
            <td>Password :</td> <td><input type="password" placeholder="Enter Password" name="password" required ngModel></td>
        </tr>
            
        <br>  
        <tr>
            <td><button type="submit" value="SAVE" >Login</button></td>
        </tr> 
    </table>  
    
</form>  -->

<p>admin-login works!</p>

<form  class="container">
<form #adminForm="ngForm" (ngSubmit)="validateAdmin(adminForm)">  
    
        <table>
            <tr>
                 <td><input type="hidden" name="title" required [(ngModel)]="title" readonly></td>
             </tr>

            <tr>
               <td>Username : </td> <td><input type="text" placeholder="Enter Username" name="userName" required ngModel></td>
            </tr>
          
        <br> 

        <tr>
            <td>Password :</td> <td><input type="password" placeholder="Enter Password" name="password" required ngModel></td>
        </tr>
            
        <br>  
        <tr>
            <td><button type="submit" value="SAVE" class="btn">Login</button></td>
        </tr> 
    </table>  
    
</form>  
</form>

<img class="image" src="https://img.wallpapersafari.com/desktop/1600/900/79/24/u2pnlQ.jpg">